* {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    background-color: rgb(15, 32, 39);
    background: -moz-linear-gradient(90deg, rgba(15, 32, 39, 1) 0%, rgba(32, 58, 67, 1) 50%, rgba(44, 83, 100, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(15, 32, 39, 1) 0%, rgba(32, 58, 67, 1) 50%, rgba(44, 83, 100, 1) 100%);
    background: linear-gradient(90deg, rgba(15, 32, 39, 1) 0%, rgba(32, 58, 67, 1) 50%, rgba(44, 83, 100, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f2027", endColorstr="#2c5364", GradientType=1);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    margin: 5px;
}

.delBtn {
    border: 20px;
    background-color: #f45f5f;
    color: white;
    border-radius: 5px;
    position: relative;
}

.submitBtn {
    border: 20px;
    background-color: #6dd863;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    width: 70px !important;
    height: 35px !important;
}

.page {
    color: white;
    text-align: center;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title .header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 28px;

    margin: 0;
}

.title .subtitle {
    font-family: DidactGothic-Regular, Arial, Helvetica, sans-serif;
    font-size: 18px;

    margin: 0;
}

.text-align-left {
    text-align: left;
}

.page {
    font-family: DidactGothic-Regular, Arial, Helvetica, sans-serif;
}

.bar-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background-color: rgba(255, 255, 255, 0.15);
    color: #dfdfdf;
    font-size: 18px;
    text-align: center;
}

.bar-input input {
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    height: 40px;
    outline: none;
    width: 250px;
}

.bar-input input:focus {
    scale: 1.01;
    transition: 1s;
}

.bar-input input::placeholder {
    color: #dfdfdf;
    font-size: 15px;
}

.ip {
    cursor: pointer;
}

.ip i {
    font-size: 15px;
    padding-left: 5px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;

    padding: 15px;
    margin: 7px;

    max-width: 750px;
    width: max-content;
}

.blog .container {
    max-width: none;
}

.server {
    min-width: 400px;
}

@media screen and (max-width: 440px) {
    .container {
        max-width: 85%;
        font-size: 13px;
    }

    .time-frame-btn {
        font-size: 13px;
        padding: 4px 9px !important;
    }

    .align-right {
        max-width: 75% !important;
    }

    .server{
        min-width: 100px;
    }
}

@media screen and (max-width: 370px) {
    .align-right {
        max-width: 70% !important;
    }
}

a {
    text-decoration: none;
}

a:link {
    color: #cfcfcf;
}

a:visited {
    color: #cfcfcf;
}

a:hover {
    color: #d9d9d9;
}

a:active {
    color: #c0c0c0;
}

.server a:hover {
    color: unset;
}

.server a:active {
    color: unset;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}

#notification-toggle, #public-toggle {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggleBtn-ENABLE {
    border: 20px;
    background-color: #6dd863;
    padding: 5px;
    color: white;
    border-radius: 5px;
    position: relative;
}

.toggleBtn-DISABLE {
    border: 20px;
    background-color: #f45f5f;
    padding: 5px;
    color: white;
    border-radius: 5px;
    position: relative;
}

.toggleBtn-gray {
    border: 20px;
    background-color: #141414;
    padding: 5px;
    color: white;
    border-radius: 5px;
    position: relative;
}