body {
    margin: 0;
}

.title {
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    margin-left: 10px;
    margin-right: 18px;
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-shadow {
    position: absolute;
    text-align: center;
    font-family: monospace;
    font-size: 15vw;
    margin-top: 10%;
    color: #8d867a;
    overflow-wrap: unset;
    white-space: nowrap;
    opacity: 0.05;
}

.title h2 {
    margin-bottom: 10px;
}

.title p {
    font-size: 16px;
    color: white;
}

.content {
    font-family: Arial;
    position: absolute;
    color: white;
}

#searchbar {
    display: flex;
}

#searchInput {
    background-color: rgba(255, 255, 255, 0.15);
    color: #dfdfdf;
    font-size: 18px;
    text-align: center;
}

#searchbar input {
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    height: 40px;
    outline: none;
    width: 400px;
    transition: 1s;
}

#searchbar input:focus {
    scale: 1.01;
    transition: 1s;
}

#searchbar input::placeholder {
    color: #afafaf;
    font-size: 15px;
}
