.motd {
    margin: 0;
}

.container .small-info {
    font-size: 12px;
    margin: 0;
    max-width: 350px;
}

.favicon {
    display: inline-block;
    vertical-align: middle;
}

.align-right {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.server-header {
    display: flex;
}

.server-header p {
    margin: 0;
    margin-left: 5px;
    font-size: 1.17em;
}

.server-header h3 {
    margin: 0;
    margin-right: auto;
}

.apexcharts-zoomable {
    background-color: unset !important;
}